.area, .structure, .door{
    display: flex;
}

.area{
    width: var(--area-door-width);
    height: var(--area-door-height);
    flex-direction: column;
    align-items: center;
    margin: 5px;

    position: relative;
}

.structure{
    flex-grow: 1; /* pra crescer e ocupar o espaco inteiro (area) */
    border-left: 5px solid brown;
    border-top: 5px solid brown;
    border-right: 5px solid brown;
    width: 90%;
}

.door{
    flex-grow: 1; /* pra crescer e ocupar o espaco inteiro */
    flex-direction: column;
    background-color: chocolate;
    align-items: center;
    padding: 15px;

    /* temp */

}

.number{
    font-size: 3rem;
}

.floor{
    height: 10px;
    width: 100%;
    background-color: #ddd;
}

.knob{
    position: absolute;
    top: calc(0.45* var(--area-door-height));
    /* Para o align self funcionar, o importante eh que o pai seja flex */
    align-self: flex-start;

    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: brown;

}