.home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.home > div{
  display: flex;
}

.link{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  
  /* Abaixo foi setado o flex: 1 para que o component do link pudesse ser extendido por
  todo o componente pai, e assim o pai ser clicavel em todo seu conteudo */
  flex: 1;
}